[nz-carousel-content] {
    /* text-align: center; */
         /* height: 100%; */
        /* width: 20px; */
        /* line-height: 160px; */
        background: #364d79;
        color: #fff;
        /* overflow: hidden; */
  }

  h3 {
    color: rgb(53, 6, 6);
  }

  img {
    height:400px!important;
    width:400px!important;
  }

  div {
    display:flex; align-items: center;justify-content: center;
  
  }